<h1>Datos personales</h1>

<div class="form-element">
    <label for="firstName">Primer nombre: </label>
    <input id="firstName" type="text">
</div>
<div class="form-element">
    <label for="secondName">Segundo nombre: </label>
    <input id="secondName" type="text">
</div>
<div class="form-element">
    <label for="surname">Primer apellido: </label>
    <input id="surname" type="text">
</div>
<div class="form-element">
    <label for="SecondSurname">Segundo apellido: </label>
    <input id="SecondSurname" type="text">
</div>
<div class="form-element">
    <label for="SecondSurname">Telefono: </label>
    <input id="SecondSurname" type="tel">
</div>
