* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

.form-group-columns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0px;
}

.form-element {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.ng-touched.ng-invalid:is(input),
.ng-dirty.ng-invalid:is(input) {
  outline: 2px solid #bd0c0c;
}

.ng-dirty.ng-pending:is(input) {
  outline: 2px solid #838a2a;
}

.error {
    font-size: 0.75rem;
    color: #bd0c0c;
    margin-bottom: 16px;
    margin-top: -8px;
    /* display: flex;
    flex-direction: column; */
}